{% block footer %}

<style>

    .footer {
        position: absolute;
        bottom: 0;
        border: 2px solid rgb(241, 146, 146);
        height: 50px;
        font-family: 'Lora', serif;
        background: rgb(241, 146, 146);
        box-shadow: 0 -5px 8px 0 rgb(119, 45, 45);
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>

<body>
    
    <div class="footer container-fluid">
        <div class="">Copyright &copy; Swapnanil Paul</div>
    </div>

</body>

{% endblock %}